@media screen and (min-width: 768px) {
    body {
        background-color: #F8F8FF;
        overflow-x: hidden;
    }

    .header__inner {
        display: flex;
        align-items: center;
        padding: 10px 50px 10px 20px;
    }

    .hamburger {
        width: 35px;
        height: 35px;
        background: rgb(0, 105, 255);
        padding: 5px;
        border-radius: 3px;
    }

    .hamburger__inner {
        width: 40px;
        height: 25px;
        position: relative;
    }

    .hamburger__inner span {
        position: absolute;
        height: 1px;
        background-color: #fff;
        transition: .5s;
    }

    .hamburger__inner span:first-of-type {
        top: 15%;
        width: 30%;
    }

    .hamburger__inner span:nth-of-type(2) {
        top: 50%;
        width: 60%;
    }

    .hamburger__inner span:last-of-type {
        top: 85%;
        width: 15%;
    }

    .slide-menu {
        background-color: #F8F8FF;
        position: fixed;
        top: 65px;
        width: 100%;
        left: 0;
        transform: translateX(100%);
    }

    .slide-menu ul {
        z-index: 1;
    }

    .slide-menu li {
        color: #fff;
        line-height: 800%;
        text-align: center;
    }

    .slide-menu a {
        text-decoration: none;
        color: rgb(0, 105, 255);
        font-size: 25px;
        font-weight: bolder;
    }

    .logout__button {
        background-color: #F8F8FF;
        border: none;
        text-decoration: none;
        color: rgb(0, 105, 255);
        font-size: 25px;
        font-family: Meiryo;
        font-weight: bolder;
        cursor: pointer;
    }

    .hamburger__inner.active span:first-of-type {
        top: 50%;
        width: 60%;
        transform: rotate(45deg);
    }

    .hamburger__inner.active span:nth-of-type(2) {
        opacity: 0;
    }

    .hamburger__inner.active span:last-of-type {
        top: 50%;
        width: 60%;
        transform: rotate(-45deg);
    }

    .slide-menu.active {
        transform: translateX(0);
        z-index: 1;
        height: 100%;
    }

    .header__logo {
        text-decoration: none;
        font-size: 28px;
        font-weight: bold;
        padding-left: 15px;
    }

    .header__logo a {
        text-decoration: none;
        color: rgb(0, 105, 255);
    }

}

@media screen and (max-width: 767px) {}