@media screen and (min-width: 768px) {
    .mail__content {
        width: 60%;
        margin: -25px auto 0;
        padding: 0 15px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        background-color: #fff;
    }

    .mail__heading {
        text-align: center;
    }

    .mail__heading-ttl {
        color: rgb(255, 119, 0);
        padding-top: 20px;
        font-size: 26px;
        font-weight: lighter;
    }

    .form {
        margin: 0 auto;
        text-align: center;
    }


    .form-group {
        display: flex;
        margin-bottom: 5px;
    }

    .form-group__label {
        width: 130px;
        padding: 20px 0 0 0;
        color: rgb(255, 119, 0);
    }

    .form__group-content {
        width: 420px;
        margin: 5px 0 0 3px
    }


    .form__button {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .form-group__button {
        padding: 5px;
        width: 70px;
        height: 40px;
        border: none;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background-color: rgb(255, 119, 0);
    }
}

@media screen and (max-width: 768px) {
    .mail__content {
        width: 60%;
        margin: -25px auto 0;
        padding: 0 15px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        background-color: #fff;
    }

    .mail__heading {
        text-align: center;
    }

    .mail__heading-ttl {
        color: rgb(255, 119, 0);
        padding-top: 20px;
        font-size: 26px;
        font-weight: lighter;
    }

    .form {
        margin: 0 auto;
        text-align: center;
    }


    .form-group {
        display: flex;
        margin-bottom: 5px;
    }

    .form-group__label {
        width: 250px;
        padding: 20px 0 0 0;
        color: rgb(255, 119, 0);
    }

    .form__group-content {
        width: 420px;
        margin: 5px 0 0 3px
    }


    .form__button {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .form-group__button {
        padding: 5px;
        width: 70px;
        height: 40px;
        border: none;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background-color: rgb(255, 119, 0);
    }
}