@media screen and (min-width: 768px) {
    .header__search {
        height: 32px;
        width: 85%;
        padding-left: 45%;
        background-color: #F8F8FF;
        display: flex;
    }

    .header__search-inner {
        height: 28px;
        display: flex;
    }

    .search-form__region {
        border: none;
        outline: none;
        width: 100px;
        height: 30px;
        text-align: center;
        border-right: 1px solid #d5d2d2fa;
        border-radius: 5px 0 0 5px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .search-form__genre {
        border: none;
        outline: none;
        width: 100px;
        height: 30px;
        text-align: center;
        border-right: 1px solid #d5d2d2fa;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .search__text {
        width: 300px;
    }

    .search-form__input {
        border: none;
        outline: none;
        height: 30px;
        font-family: FontAwesome;
        text-decoration: inherit;
        width: 100%;
        border-radius: 0 5px 5px 0;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .card__list {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 5% 5% 5%;
    }

    .card {
        display: flex;
        height: auto;
        flex-direction: column;
        border-radius: 5px;
        width: 25%;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
        margin-bottom: 10px;
    }

    .card__img {
        width: 100%;
    }

    .card__content {
        padding: 0 10px;
    }

    .card__store {
        font-size: 18px;
        font-weight: 500;
        margin: 0 auto;
    }

    .card__tag {
        font-size: 12px;
        text-align: left;
        padding: 0 10px;
    }

    .region__tag {
        display: inline-block;
    }

    .genres__tag {
        display: inline-block;
    }

    .card__button {
        padding: 10px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    .card__button-submit {
        color: #fff;
        background-color: rgb(0, 105, 255);
        border: none;
        border-radius: 3px;
        font-size: 13px;
        height: 30px;
        width: 80px;
        cursor: pointer;
    }

    .card__button-unbookmark {
        color: #f13756fa;
        background-color: #F8F8FF;
        border: none;
        font-size: 25px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .card__button-bookmark {
        color: #aeaeb3;
        background-color: #F8F8FF;
        border: none;
        font-size: 25px;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
}

@media screen and (max-width: 767px) {}