@media screen and (min-width: 768px) {
    .store__content {
        width: 60%;
        height: 65%;
        margin: -25px auto 0;
        padding: 0 15px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        background-color: #fff;
    }

    .store__heading {
        text-align: center;
    }

    .store__heading-ttl {
        color: rgb(255, 119, 0);
        padding-top: 20px;
        font-size: 26px;
        font-weight: lighter;
    }

    .form-group {
        display: flex;
        margin-bottom: 5px;
    }

    .form-group__title {
        display: flex;
        justify-content: flex-end;
        width: 120px;
    }

    .form-group__title-label {
        padding: 10px auto;
        color: rgb(255, 119, 0);
    }

    .form-group__content {
        width: 420px;
        margin: 5px 0 0 30px
    }

    .form-group__content-input {
        height: 28px;
        width: 100%;
    }

    .form-group__content-select {
        height: 28px;
        width: 60%;
    }

    .form-group__content-textarea {
        width: 100%;
    }

    .form__error {
        padding-left: 130px;
        height: 15px;
        font-size: 12px;
        color: #ff0000;
        text-align: left;
    }

    .form-button {
        padding: 10px 0 10px 0;
        display: flex;
        justify-content: space-around;
    }

    .form-button__button {
        padding: 5px;
        width: 70px;
        height: 40px;
        border: none;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background-color: rgb(128, 127, 126);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    }

    .form-button__submit {
        padding: 5px;
        width: 70px;
        height: 40px;
        border: none;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background-color: rgb(255, 119, 0);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    }
}

@media screen and (max-width: 768px) {
    .store__content {
        width: 80%;
        height: 85%;
        margin: -25px auto 0;
        padding: 0 15px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        background-color: #fff;
    }

    .store__heading {
        text-align: center;
    }

    .store__heading-ttl {
        color: rgb(255, 119, 0);
        padding-top: 20px;
        font-size: 20px;
        font-weight: lighter;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .form-group__title {
        display: flex;
        padding: 0 0 0 20px;
    }

    .form-group__title-label {
        padding: 10px 0 0 0;
        font-size: 13px;
        color: rgb(255, 119, 0);
    }

    .form-group__content {
        width: 100%;
        margin: 5px 0 0 30px
    }

    .form-group__content-input {
        height: 28px;
        width: 80%;
    }

    .form-group__content-select {
        height: 28px;
        width: 60%;
    }

    .form-group__content-textarea {
        width: 80%;
    }

    .form-group__thumbnail {
        font-size: 11px;
    }

    .form__error {
        padding-left: 25px;
        height: 15px;
        font-size: 12px;
        color: #ff0000;
        text-align: left;
    }

    .form-button {
        padding: 10px 0 10px 0;
        display: flex;
        justify-content: space-around;
    }

    .form-button__button {
        padding: 5px;
        width: 70px;
        height: 40px;
        border: none;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background-color: rgb(128, 127, 126);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    }

    .form-button__submit {
        padding: 5px;
        width: 70px;
        height: 40px;
        border: none;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background-color: rgb(255, 119, 0);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
    }
}